<div class="modal @(IsVisible ? "showModal" : "hideModal")" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>ErrorText</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Close</button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string ErrorText { get; set; }
    private bool IsVisible { get; set; }
    public void Close()
    {
        IsVisible = false;
        StateHasChanged();
    }
    public void Open()
    {
        IsVisible = true;
        StateHasChanged();

    }
}
